{% extends 'base.html' %}

{% block content %}
    <section class="marquee mod-cross">
{#    <section class="marquee mod-home" style="background-image:url({{ file_base }}{{ page_content['marquee_image']['data']['url'] }});">#}
        <div class="container">
            <div class="marquee-contents col-sm-12">
                <div class="marquee-contents-copy">
                    <h1 class="title">Contact us</h1>
                    <h2 class="subtitle">Contact Christ the King Lutheran Church & School</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
    </section>
{% endblock %}