{# TODO: Fill out the home theme #}
{% extends 'base.html' %}

{% block content %}
    <section class="marquee mod-church">
{#    <section class="marquee mod-home" style="background-image:url({{ file_base }}{{ page_content['marquee_image']['data']['url'] }});">#}
        <div class="container">
            <div class="marquee-contents col-sm-12">
                {% include "atoms/marquee_navigation.html" %}
                <div class="marquee-contents-copy">
                    <h1 class="title">{{ _data['page_title'] }}</h1>
                    <h2 class="subtitle">{{ _data['page_subtitle'] or '' }}</h2>
                </div>
            </div>
        </div>
        {% include "atoms/next_event_banner.html" with context %}
    </section>
    {% include "atoms/news_featured.html" %}
    <section class="container">
        <div class="col-sm-8 col-lg-9">
            {{ _data['introduction']|safe }}

{#            <h4>Upcoming Events</h4>#}
{#            <ul class="eventsList">#}
{#                {% for event in EVENTSLIST_SHORT %}#}
{#                <li class="eventsList-item">#}
{#                    <div class="eventsList-item-date">#}
{#                        {% if 'dateTime' in event['start'] %}#}
{#                            <span class="date">{{ (event['start']['dateTime']|strftime).date }}</span>#}
{#                            <span class="month">{{ (event['start']['dateTime']|strftime).month }}</span>#}
{#                        {% else %}#}
{#                            <span class="date">{{ (event['start']['date']|strftime).date }}<!--{% if event['start']['date'] != event['end']['date'] %}<span class="date mod-end"> - {{ (event['end']['date']|strftime).date }}</span>{% endif %}--></span>#}
{#                            <span class="month">{{ (event['start']['date']|strftime).month }}</span>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="eventsList-item-detail">#}
{#                        <p class="summary">{{ event['summary'] }}</p>#}
{#                        {% if 'dateTime' in event['start'] %}#}
{#                            <span class="time">{{ (event['start']['dateTime']|strftime).timeblock }} - {{ (event['end']['dateTime']|strftime).timeblock }}</span>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </div>
        {% include 'atoms/module_sidebar_standard.html' with context %}
    </section>
    <section class="container">
    </section>

{% endblock %}