{% extends "base.html" %}

{% block content %}
    <section class="marquee mod-devotion">
        <div class="marquee-contents container">
            <div class="col-md-11">
                <h1 class="title">{{ DEVOTION['title'] }}</h1>
                <h2 class="subtitle">Daily Devotion</h2>
            </div>
        </div>
    </section>
    <section class="banner">
{#    NEXT EVENT #}
    </section>

    <article class="container devotion">
        <div class="col-sm-8 col-lg-9 devotion-content">
            {{ DEVOTION['body']|safe }}
        </div>
        {% include 'atoms/module_sidebar_standard.html' with context %}
    </article>


{% endblock %}