{% extends 'base.html' %}

{% block content %}
    <section class="marquee mod-home">
{#    <section class="marquee mod-home" style="background-image:url({{ file_base }}{{ page_content['marquee_image']['data']['url'] }});">#}
        <div class="marquee-contents container">
            <h1 class="title col-sm-10">{{ _data['page_title'] }}</h1>
{#            <h2 class="subtitle col-sm-11">{{ _data['page_subtitle'] or '' }}</h2>#}
        </div>
    </section>
    <section class="container">
        <div class="col-sm-8">
            <div class="col-sm-12 row">
                {% include "atoms/teacher_posts.html" %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sidebar_bio">
                <img src="{{ _data['staff_member']['avatar']['data']['full_url'] }}"
                     alt="{{ _data['staff_member']['first_name'] }} {{ _data['staff_member']['last_name'] }}"
                     width="80" class="sidebar_bio-image">
                <div>
                    <p class="sidebar_bio-name">{{ _data['staff_member']['first_name'] }} {{ _data['staff_member']['last_name'] }}</p>
                    <a href="mailto:{{ _data['staff_member']['email'] }}"
                       class="sidebar_bio-email">{{ _data['staff_member']['email'] }}</a>
                </div>

            </div>
            {% if _data['sidebar_links'] %}
            <div class="sidebar_links">
                <h4>Important Links</h4>
                {{ _data['sidebar_links']|safe }}
            </div>
            {% endif %}
            {% if _data['attachments'] %}
            <div class="sidebar_links">
                <h4>Downloads</h4>
                <ul class="attachments">
                {% for item in _data['attachments'] %}
                    <li class="attachments-item">
                        <a href="#">Title</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}