.sidebar_links {
  margin-top: 2em;

  & p {
    padding: 0;
    margin: 0;

  }

  & a {
    &::before {
      content: "\F05B";
      font-family: "Black Tie", sans-serif;
      font-weight: 400;
      background: $sky;
      padding: 1em;
      color: #ffffff;
      margin-right: 10px;
      transition: background 0.25s ease;
    }

    display: flex;
    padding: 0;
    align-items: center;
    background: transparentize($gray-4, 0.6);
    color: $gray-1;
    transition: background 0.25s ease;

    &:hover, &:focus {
      background: transparentize($gray-4, 0);

      &::before {
        background: $blue;
      }
    }
  }

  & br {
    display: none;
  }
}