.event_calendar {
  &-month {
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      @include shadow($gray-3, 0.7, 7);

      &-date {
        padding: 1em;
        font: normal 300 em(28.43)/1 $heading;
        background: transparentize($gray-4, 0.8);

      }
      &-event {
        margin: 0;
        padding: 0 1em;

        & .event_detail {
          padding: 1em;
          list-style-type: none;
          border-bottom: 1px solid transparentize($gray-4, 0.5);

          & .event_detail-target {
            display: flex;
            width: 100%;
            flex-direction: row;
            color: $gray-0;

            &:hover, &:focus {
              color: $ui-link;
            }
          }

          &:last-child {
            border-bottom: none;
          }

          &-time {
            padding-left: 1em;
            line-height: 1.6rem;
            color: $gray-1;
            flex-shrink: 0;
            white-space: nowrap;
          }
          &-event {

            &-summary {
              margin: 0;
              font: normal 700 1.25em/1.4 $heading;
            }
            &-location {
              margin: 0;
            }
            &-end {
              display: inline-block;
              background: $teal;
              color: #ffffff;
              border-radius: 20px;
              padding: 2px 10px;
              font-weight: bold;
            }
          }
        }

      }
    }
  }
}