<section class="featuredNews">
    <div class="container">
        <h2 class="featuredNews-title col-sm-12">Featured News</h2>
        <ul class="blockList col-sm-12 row mod-flex">
            {% for featured in _data['featured_news'] %}
                <li class="blockList-item">
                    <a class="blockList-item-target" href="{{ url_for(request.endpoint) | replace("/", "") }}/news/{{ featured['slug'] }}">
                        <img class="blockList-item-image"
                             src="{{ featured['primary_image']['data']['thumbnails'][4]['url'] }}" alt="{{ featured['title'] }}"
                             style="width:{{ featured['primary_image']['data']['thumbnails'][4]['width'] }}px"
                        >
                        <div class="blockList-item-contents">
                            <h3 class="headline">{{ featured['title'] }}</h3>
                            <p>Read the update <i class="btr bt-arrow-right"></i></p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>