<ul class="classroom_updates">
{% if updates %}
    {% for post in updates %}
        <li class="classroom_updates-item">
            <h2 class="post_title">{{ post['title'] }}</h2>
            <small>{{ (post['date_published']|strftime).dateblock }}</small>
            <span>{{ post['content']|safe }}</span>
            {% if post['attachments'] %}
                <h4>Attachments</h4>
                <ul class="attachments">
                {% for attachment in post['attachments'] %}
                    <li class="attachments-item">
                        <a href="{{ attachment['directus_files_id']['data']['full_url'] }}"
                           target="_blank"
                           class="attachments-item-target">{{ attachment['directus_files_id']['title'] }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% else %}
    <li class="classroom_updates-item">
        <h2 class="post_title">No posts yet, check back soon.</h2>
    </li>
{% endif %}
</ul>